nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  height: 80%;
  margin-left: 25px;
  padding: 0 10px 0 10px;
}

nav a:hover {
  color: white;
  background-color: #8b8bee;
}
nav a:active {
  background-color: #8b8bee;
}

nav {
  display: flex;
  align-items: center;
  background-color: grey;
  height: 50px;
}
