.events {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 200px;
  margin-bottom: 5px;
  margin-right: 5px;
}
