<form (ngSubmit)="onSubmit()" #eventForm="ngForm">
  <div class="form-group">
    <label for="title">Titre</label>
    <input type="text" class="form-control" placeholder="Titre de l'événement" id="title" required [(ngModel)]="model.title" name="title" #name="ngModel">
  </div>
  <div class="form-group">
    <label for="time">Heure</label>
    <input type="text" class="form-control" placeholder="Heure de l'événement" id="time" required [(ngModel)]="model.time" name="time" #name="ngModel">
  </div>
  <div class="form-group">
    <label for="typeEvent">Type d'événement</label>
    <select class="form-control" id="typeEvent" required [(ngModel)]="model.type" name="type" #name="ngModel">
      <option *ngFor="let type of typeEvent" [value]="type">{{type}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
